body{
    background: #161616;

    padding-top: 100px;
    background-size:1920px 1080px;
}
video{
    display:flex;
    /* margin-left: 150px; */
    width: 700px;
}
p{
    color:#a0a0a0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
img{
    width: 20%;
}
.container{
    display: flex;
    flex-wrap: wrap;
    
    
}
.container > img {
    margin: 50px;
}
